@font-face {
  font-family: "abchanel_pb";
  src: url("./medias/fonts/ABChanelCorpo2022-Light.ttf") format("truetype");
  font-weight: Light;
  font-style: normal;
}

@font-face {
  font-family: "abchanel_pb";
  src: url("./medias/fonts/ABChanelCorpo2022-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "abchanel_pb";
  src: url("./medias/fonts/ABChanelCorpo2022-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
