$font: abchanel_pb, Arial, Helvetica, sans-serif;

body,
html {
    margin: 0px;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
    
}
.react {
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: all;

}

.LandingWave {
    height: 100%;
    position: relative;
    p,
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        padding: 0;
        font-size: 1em;
        line-height: 0.5em;
    }
    .three {
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: all;
    }
    .transitionLogo{
        width: 0em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1000;
    }
    .pointTransition{
        width: 0em;
        height: 0em;
        border-radius: 100%;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        // animation-delay: 1s;
        z-index: 1000;
    }
}

.textAnimation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 40vw;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 0 0 0 10em;
    div{
        padding: 0 0 30% 0;
    }
    img {
        height: 40px;
        width: 40px;
        display: block;
        opacity: 0;
        animation: logoAnim 1000ms forwards ease-in-out;
    }
    div {
        h1 {
            color: #f3c983;
            font-size: 3.375em;
            line-height: 1em;
            font-weight: 800;
            font-family: $font;
            display: inline-block;
            text-transform: uppercase;
            > span {
                overflow: hidden;
                display: inline-block;
                > span {
                    transform: translateY(100%);
                    display: inline-block;
                    animation: spanFadeIn 1s forwards;
                    // animation-delay: 500ms;
                }
            }
        }
        p {
            font-family: "abchanel_pb";
            font-size: 2.1em;
            line-height: 1em;
            font-weight: 100;
            padding: 0.2em 0 1em 0;
            animation-delay: 2s;
        }
    }
    .letter {
        display: inline-block;
        opacity: 0;
        animation: fadeInUp 0.5s forwards;
        animation-delay: 1s;
    }
    button {
        background: none;
        background-color: black;
        color: #f3c983;
        border: none;
        font-family: abchanel_pb, Arial, Helvetica, sans-serif;
        font-size: 1.8em;
        line-height: 0.9em;

        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        transition: all 500ms;
        position: relative;
        .apparitionSpan{
            display: flex;
            align-items: center;
            > span {
                overflow: hidden;
                display: inline-block;
                animation-delay: 1s;
                > span {
                    transform: translateY(100%);
                    display: inline-block;
                    animation: spanFadeIn 1s forwards;
                    animation-delay: 2s;
                }
            }
            .hoverSpan {
                position: relative;
                display: flex;
                align-items: center;
                gap:10px;
                &:after {
                    content: "";
                    display: block;
                    width: 80px;
                    height: 1px;
                    background-color: #f3c983;
                    transition: all 500ms;
                }
                &:before {
                    content: "";
                    display: block;
                    width: 0px;
                    height: 1px;
                    background-color: #f3c983;
                    transition: all 500ms;
                }
            }
        }
        
        .linesContainer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            span {
                position: absolute;
                background-color: #f3c983;
                &:nth-child(1) {
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    animation: borderWidthAppear 500ms forwards;
                }
                &:nth-child(2) {
                    top: 0;
                    right: 0;
                    width: 2px;
                    height: 0%;
                    animation: borderHeightAppear 500ms forwards;
                    animation-delay: 500ms;
                }
                &:nth-child(3) {
                    bottom: 0;
                    right: 0;
                    width: 0%;
                    height: 2px;
                    animation: borderWidthAppear 500ms forwards;
                    animation-delay: 1000ms;
                }
                &:nth-child(4) {
                    bottom: 0;
                    left: 0;
                    width: 2px;
                    height: 0%;
                    animation: borderHeightAppear 500ms forwards;
                    animation-delay: 1500ms;
                }
            }
        }
        &:hover {
            background-color: #f3c983;
            color: black;
            .hoverSpan {
                &:after {
                    width: 10px;
                    background-color: black;
                }
                &:before {
                    width: 70px;
                    background-color: black;
                }
            }
        }
        
    }
}

.transitionBackground{
    background-color: #ffffff;
    transition-delay: 500ms;
}

// .transitionActiveImg{
//     animation: pointAnimation 1000ms ease-in-out forwards;
//     animation-delay: 1050ms;
// }

// .transitionActiveCircle{
//     animation: pointAnimation 1000ms ease-in-out forwards;
//     animation-delay: 1350ms;
// }

.mouse-square {
    box-shadow: 0 0 10px 1px #ffa200; /* Ombre floue jaune */
    filter: blur(1px); 
    position: absolute;
    background-color: #ffffff; /* Vous pouvez varier cette couleur */
    pointer-events: none;
    opacity: 1;
    transition: opacity 400ms ease-out; /* Plus rapide que précédemment */
    animation: fadeOut 700ms forwards;
}

.mouse-square:hover {
    opacity: 0;
}

.opacityTransition{
    animation: opacityTransition 250ms forwards;
}


.endTransition{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: opacity 0.9s 1.1s ease;
    &.activate{
        opacity: 1;
    }
}

@keyframes opacityTransition{
    0%{
        opacity: 1;
    }
    100%{   
        opacity: 0;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spanFadeIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes borderWidthAppear {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes borderHeightAppear {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

@keyframes logoAnim{
    0%{
        transform: rotate(0);
        opacity: 0;
    }
    100%{
        transform: rotate(180deg);
        opacity: 1;
    }
}

@keyframes pointAnimation{
    0%{
        height: 0;
        width: 0;
    }
    33%{
        height: 10em;
        width: 10em;
    }
    66%{
        height: 2em;
        width: 2em;
    }
    100%{
        height: 200em;
        width: 200em;
    }
}

@media (max-width: 1250px) {
    .LandingWave{
        font-size: 0.8em;
        button{
            background-color: rgba(0, 0, 0, 0.324);
        }
    } 
}

@media (max-width: 700px) {
    .LandingWave{
        font-size: 0.7em;
        .textAnimation{
            padding: 0 3em;
        }
        button{
            background-color: rgba(0, 0, 0, 0.324);
        }
    } 
}

@media (max-height: 600px) {
    .LandingWave{
        font-size: 0.5em;
        .textAnimation div{
            padding: 0;
        }
        button{
            background-color: rgba(0, 0, 0, 0.324);
        }
    } 
}